*{
    box-sizing: border-box;
    margin: 0;
}

.estilo {
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 72vh;
}