.estilo {
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    width: 100px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 70px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    margin: 2px;
    font-size: 43px;
    border-radius: 10px;
}