.estilo {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 380px;
    height: 75px;
    background: #9EDA9D;
    border-radius: 4px;
    float: right;
    line-height: 34px;
    margin: 10px;
    font-family: sans-serif;
    font-size: 20px;
}